body,html{
    height: 100%;
}
h1{
    color: white;
    font-size: 60px;
}
.back{
      background-image: url(../img/code.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
      width: 100%;
      height: 100%;
      filter: blur(10px);
      }


/*h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sections {
 color: white;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
}
.section-final {
 color: white;
  display: flex;
  justify-content: space-around;
}
.section1 {
  color: white;
  display: flex;
}
*/
.container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    text-align:center;
}
table,td{
    padding-left: 80px;
    padding-right: 80px;
}
td{
    border-bottom: 1px solid white;
}
table{
    width: 100%;
    font-family: sans-serif;
    
}
.Third{
    text-align: left;
    margin-left: 10px;
}
.text{
    font-size: 60px;
    color: white;
    padding-left: 0px;
    margin-left: 0px;
}
.Subtext{
    font-size: 20-px;
    color: white;
    padding-left: 20px;
}
i{
    color: white;
    font-size: 30px;
}
 ul{
    color:white;
    margin-left:20px;
    padding-left:0px;
  }
.icon {
  height: 90px;
  padding: 2px 2px 2px 2px;
}
